.App {
  font-family: 'Roboto' !important;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.MuiCard-root {
  border-radius: 8px !important;
}

.MuiButton-contained {
  border-radius: 6px !important;
  box-shadow: 0 4px 8px #00000049 !important;

}
.MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 20px 0 0px;
}

.MuiList-padding{
  padding: 5px !important;
}

.MuiTypography-body1{
  font-size: 14px !important;
}